* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    font-family: 'Manrope', sans-serif;
    background-color: #202733;
}

.card {
    width: 540px;
    /* height: 332px; */
    border-radius: 15px;
    padding: 46px;
    text-align: center;
    background-color: #313A48;
}
h1 {
    color: #53FFAA;
    font-weight: 800;
    font-size: 13px;
    margin-bottom: 24px;
    user-select: none;
}
p {
    color: #CEE3E9;
    font-size: 28px;
    text-align: center;
    user-select: none;
    margin-bottom: 40px;
}
.main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}
.main img {
    cursor: pointer;
}
.line {
    width: 196px;
    height: 1px;
    background-color: #4F5D74;
}

.pouse-img {
    margin-top: 3px;
    margin-bottom: -82px;
    user-select: none;
    cursor: pointer;
}